.stayPhoto {
  width: 70vw;
  height: calc(70vw * 269 / 395);
  object-fit: cover;
  object-position: 25% 25%;
  border-radius: 24px;
}

.stay {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  align-items: center;
  justify-content: center;
}

.stayInfo {
  display: flex;
  gap: 8px;
}

.stayType {
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  color: #828282;
}

.stayRating {
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  color: #4f4f4f;
}

.stayTitle {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: #333333;
  margin-top: 0;
  max-width: 70%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.staySuperHost {
  border: 1px solid #4f4f4f;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 700;
  padding: 5px 10px 5px 10px;
  border-radius: 12px;
}

@media (min-width: 1300px) {
  .stayPhoto {
    width: 395px;
    height: 267px;
  }
}

@media (max-width: 672px) {
  .staySuperHost {
    font-size: 10px;
    padding: 5px 4px 5px 4px;
  }
  .stayType,
  .stayRating {
    font-size: 12px;
  }

  .stayInfo {
    gap: 3px;
  }

  .stayPhoto {
    width: 90vw;
    height: calc(90vw * 269 / 395);
  }
}
