.filterDetails {
  position: absolute;
  background-color: white;
  height: 40%;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.filterDetailsContent {
  width: 60%;
}
