.filterDetails {
	position: absolute;
	background-color: white;
	height: 460px;
	top: 0;
	right: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.filterDetailsContent {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	gap: 20px;
}

.bigFilter {
	width: 40vw;
	margin-top: 93px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	font-weight: 400;
	font-family: 'Mulish', sans-serif;
	border: 1px solid #f2f2f2;
	box-shadow: 0px 1px 6px 0px #0000001a;
	height: 55px;
	border-radius: 16px;
}

.bigFilterItem {
	display: flex;
	flex-direction: column;
	padding: 0 15px 0 15px;
	text-align: left;
	width: 100%;
	min-width: fit-content;
	height: 100%;
	justify-content: center;
	border-radius: 16px;
}

.bigFilterItem:hover {
	box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.6);
}

.bigFilterItemSelected {
	border-radius: 16px;
	border: 1px solid #333;
	box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.1);
}

.filterLabel {
	font-size: 9px;
	font-weight: 800;
	color: #333333;
	margin: 0;
}

.fullHeight {
	height: 90%;
}

.bigSearchButton {
	border: 0px;
	border-radius: 16px;
	width: 127px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 55px;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	position: absolute;
	min-width: 160px;
	overflow: auto;
	z-index: 1;
	top: 170px;
	display: flex;
	flex-direction: column;
	gap: 2px;
	color: black;
	text-decoration: none;
}

.dropdown-content p {
	display: flex;
	align-items: center;
}

.dropdown-content p:hover {
	text-decoration: underline;
	cursor: pointer;
}

.backdrop {
	position: fixed;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	right: 0;
	bottom: 0;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	-webkit-tap-highlight-color: transparent;
	z-index: 1300;
}
