.filterDetails {
  position: absolute;
  background-color: white;
  height: 40%;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.filterDetailsContent {
  width: 60%;
}

.bigFilter {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  font-family: "Mulish", sans-serif;
  border: 1px solid #f2f2f2;
  box-shadow: 0px 1px 6px 0px #0000001a;
  height: 55px;
  border-radius: 16px;
}

.bigFilterItem {
  display: flex;
  flex-direction: column;
  padding: 0 15px 0 15px;
  text-align: left;
  width: 100%;
  min-width: fit-content;
}

.bigFilterItem + .bigFilterItem {
  border-left: solid 1px #f2f2f2;
}

.filterLabel {
  font-size: 9px;
  font-weight: 800;
  color: #333333;
  margin: 0;
}

.fullHeight {
  height: 100%;
}

.bigSearchButton {
  font-family: "Mulish", sans-serif;
  background-color: #f05454;
  color: white;
  border: 0px;
  border-radius: 16px;
  width: 127px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
}

.filterItemButton :hover {
  background-color: #ac0f0f;
}

.filterItemButton {
  display: flex;
  width: 100%;
  min-width: fit-content;
  align-items: center;
  justify-content: right;
  gap: 30px;
}

.closeButton {
  width: 30px;
}

.closeButton :hover {
  color: #f05454;
}
